body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #212F3D;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1, h2 {
    color: #f5f1f1;
}

.tracker-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    border: 1px solid #AF601A;
    border-radius: 5px;
}

button {
    background-color: #AF601A;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #161616;
}

.summary {
    margin-bottom: 20px;
}

#expenseList {
    list-style: none;
    padding: 0;
}

#expenseList li {
    background: #f5f1f1;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: #AF601A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.delete-btn:hover {
    background: #AF601A;
}
